<div id="comp-render" *ngIf="campaignList">
  <div style="width:80%; margin:auto">
    <div class="card card-custom gutter-b">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">Promo Campaign List</h3>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-2">
            <div class="form-group">
              <label></label>
              <button name="newCampaignBtn" type="button" class="form-control btn btn-primary" (click)="onNewCampignClick()">New Campaign</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <app-campaignlist (msgToSibling)="passCrmId($event)" [currentCrmIdPassWizard]="currentCrmIdPassWizard">

            </app-campaignlist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="comp-render" *ngIf="campaignWizard">
  <div class="card card-custom gutter-b">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-12">
          <app-wizard [currentCrmIdPassWizard]="currentCrmIdPassWizard">

          </app-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
